node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# remotion
remotion/node_modules
remotion/out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# build info
*.tsbuildinfo
